.mask{
    position: absolute;
    top:0;
    left: 0;
    background-color: rgb(117, 116, 116);
}

.modal{
    width: 510px;
    height: 520px;
    border: 1px solid rgba(39, 39, 39, 0.1);
    border-radius: 0.31rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 40px 80px;
}